/_inst/
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/intl/
/libtool
/Makefile
/Makefile.in
/m4/
/po/Makefile.in.in
/po/Makefile.in
/po/*.gmo
/po/*.mo
/po/*.pot
/stamp-h1
/src/.deps/
/src/guessnum
